/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
home {
  background: #FCFCFC;
}
.wrapper {
  background-color: rgba(0, 68, 42, 0.6);
}

.container {
  padding: 30px;
}

.row {
  margin: 20px;
}
